<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charles.mianti.mapper.TestCaseMapper">

    <resultMap id="BaseResultMap" type="com.charles.mianti.model.entity.TestCase">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="input" column="input" jdbcType="VARCHAR"/>
            <result property="output" column="output" jdbcType="VARCHAR"/>
            <result property="isExample" column="isExample" jdbcType="TINYINT"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,questionId,userId,
        input,output,isExample,
        score,createTime,updateTime,
        isDelete
    </sql>

</mapper>
